.catalog {
  padding-top: 30px;
}

.catalog__nav {
  margin-bottom: 30px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
}

.catalog__link {
  font-size: 14px;
  font-weight: 800;
  color: $color-black;
  padding: 14px;
  text-transform: uppercase;
  line-height: 3.107;
}

.catalog__link:hover {
  border: 3px solid $color-brown;
  color: $color-brown;
  padding-right: 11px;
  padding-left: 11px;
}

.catalog__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog__item-card {
  width: 320px;
  height: 320px;
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
  padding-top: 110px;
}

.catalog__item-card--product1 {
  background-image: url("../img/item1.jpg");
}

.catalog__item-card--product2 {
  background-image: url("../img/item2.jpg");
}

.catalog__item-card--product3 {
  background-image: url("../img/item3.png");
}

.catalog__item-card--product4 {
  background-image: url("../img/item4.jpg");
}

.catalog__item-card--product5 {
  background-image: url("../img/item5.png");
}

.catalog__item-card--product6 {
  background-image: url("../img/item6.jpg");
}

.catalog__title {
  margin: 0;
  font-size: 22px;
  color: $color-white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.364;
  text-align: center;
}

.catalog__title-brand {
  margin: 0;
  font-family: $second-font;
  font-size: 22px;
  color: $color-white;
  text-transform: uppercase;
  line-height: 1.364;
  text-align: center;
}

.catalog__title-brand--line {
  position: relative;
}

.catalog__title-brand--line::before,
.catalog__title-brand--line::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 1px;
  top: 50%;
  background-color: $color-white;
  left: 50%;
}

.catalog__title-brand--line::before {
  transform: translateX(-60px);
}

.catalog__title-brand--line::after {
  transform: translateX(20px);
}

.catalog__title-brand--small {
  text-transform: lowercase;
}

.catalog__title-collection {
  font-size: 12px;
  color: $color-white;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.364;
  text-align: center;
}

.catalog__text {
  font-size: 20px;
  color: $color-white;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  width: 275px;
  padding: 10px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba($color: $color-brown, $alpha: 0.7);
}

.catalog__text-btn {
  font-size: 14px;
  color: $color-white;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2.182;
  text-align: center;
  padding: 10px;
  border: 1px solid $color-white;
  width: 230px;
  margin: 0 auto;
}

.catalog__text-about {
  font-size: 12px;
  color: $color-white;
  padding: 0 70px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
}

.catalog__text-date {
  font-size: 12px;
  color: $color-white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  border-top: 1px solid $color-white;
  border-bottom: 1px solid $color-white;
  width: 210px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
