.partners {
  background-image: url("../img/lines-top.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $color-black;
  padding-top: 30px;
  padding-bottom: 30px;
}

.partners__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.partners__links:first-child {
  padding: 10px;
  background-color: rgba($color: $color-white, $alpha: 0.2);
}
