.promo {
  background-image: url("../img/promo-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.promo__wrapper-title {
  position: relative;
  width: 480px;
  padding-top: 150px;
  padding-bottom: 100px;
  font-size: 48px;
  color: $color-white;
  line-height: 1.125;
  text-align: center;
  margin-right: auto;
}

.promo__wrapper-title::before,
.promo__wrapper-title::after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  width: 160px;
  height: 3px;
  background-color: $color-white;
}

.promo__title--bold {
  font-weight: 700;
}
