.header-top__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-top__social {
  display: flex;
}

.header-top__social-link {
  width: 31px;
  height: 31px;
  border: 1px solid $color-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.header-top__social-link:hover {
  background-color: $color-black;
  opacity: 0.2;
}

.header-top__social-img--fb {
  width: 8px;
  height: 15px;
  background: url("../img/css_sprites.png") -177px -10px;
}

.header-top__social-img--vk {
  width: 11px;
  height: 13px;
  background: url("../img/css_sprites.png") -10px -113px;
}

.header-top__social-img--twitter {
  width: 11px;
  height: 13px;
  background: url("../img/css_sprites.png") -72px -113px;
}

.header-top__social-img--google {
  width: 14px;
  height: 12px;
  background: url("../img/css_sprites.png") -10px -81px;
}

.header-top__contact-card {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-top__wrapper-top__city {
  position: relative;
}

.header-top__wrapper-top__city::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 11px;
  height: 16px;
  background: url("../img/css_sprites.png") -116px -10px;
}

.header-top__city {
  cursor: pointer;
  border: none;
  appearance: none;
  padding-left: 19px;
  font-size: 14px;
  font-family: $main-font-condenced;
  font-weight: 500;
  line-height: 1.286;
  overflow: hidden;
}

.header-top__city-change {
  margin-right: 10px;
  border-bottom: 1px dashed $color-gray;
}

.header-top__city::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 6px;
  background: url("../img/css_sprites.png") -147px -81px;
}

.header-top__contact-phone {
  position: relative;
  font-size: 17px;
  font-family: $main-font-condenced;
  text-transform: uppercase;
  line-height: 1.059;
  color: $color-black;
  padding-left: 17px;
}

.header-top__contact-phone::before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 13px;
  height: 15px;
  background: url("../img/css_sprites.png") -82px -46px;
}

.header-top__contact-inner {
  position: relative;
  font-family: $main-font-condenced;
  color: $color-black;
  font-size: 15px;
  line-height: 1.2;
  padding-left: 20px;
}

.header-top__contact-inner::before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 14px;
  height: 16px;
  background: url("../img/css_sprites.png") -82px -10px;
}

.header-top__contact-cart {
  position: relative;
  font-family: $main-font-condenced;
  color: $color-black;
  font-size: 15px;
  line-height: 1.2;
  padding-left: 25px;
  padding-right: 10px;
}

.header-top__contact-cart::before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 17px;
  height: 15px;
  background: url("../img/css_sprites.png") -10px -46px;
}

.header-top__contact-cart-counter {
  font-size: 14px;
  font-family: $second-font-serif;
  color: $color-brown;
  font-style: italic;
  line-height: 1.286;
  border-left: 1px solid $color-brown;
  padding-left: 10px;
  margin-left: 10px;
}

@media (max-width: $tablet-width) {
  .header-top__wrapper {
    flex-direction: column;
  }

  .header-top__social {
    margin-bottom: 10px;
  }

  .header-top__contact-card {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

@media (max-width: $mobile-width) {
  .header-top__contact-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-top__contact-card * {
    margin-bottom: 10px;
  }

  .header-top__contact-card *:last-child {
    margin-bottom: 0;
  }
}
