$color-black: #1f1f1f;
$color-gray: #c2c2c2;
$color-gray-border: #ababab;
$color-gray-light: #eeeeee;
$color-white: #ffffff;
$color-brown: #b98348;
$color-brown-dark: #8b5c28;
$main-font: "ProximaNova", "Arial", sans-serif;
$main-font-condenced: "ProximaNovaCondenced", "Arial", sans-serif;
$second-font: "Georgia", "Arial", sans-serif;
$second-font-serif: "PTSerif", "Arial", sans-serif;
$desktop-width: 1300px;
$tablet-width: 1024px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
